 .u-section-1 {
  min-height: 268px;
}

.u-section-1 .u-sheet-1 {
  min-height: 422px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 411px;
  background-image: url("images/52.png");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-1 .u-image-1 {
    min-height: 339px;
    background-position: 55.16% 0%;
    background-size: auto 110%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 268px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 5px 0 0 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 458px;
    background-position: 25.48% 0%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 246px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 15px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 681px;
}

.u-section-3 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 500px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-3 {
  height: 298px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-4 {
  height: 298px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 345px;
  }

  .u-section-3 .u-image-1 {
    height: 236px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 236px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-3 {
    height: 236px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-4 {
    height: 236px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 416px;
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-image-1 {
    height: 279px;
  }

  .u-section-3 .u-image-2 {
    height: 279px;
  }

  .u-section-3 .u-image-3 {
    height: 279px;
  }

  .u-section-3 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 593px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-2 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-3 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 395px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 298px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-image-3 {
    height: 298px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 298px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 510px;
}

.u-section-4 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-4 .u-repeater-1 {
  min-height: 407px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 236px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    height: 236px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 388px;
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-image-1 {
    height: 279px;
  }

  .u-section-4 .u-image-2 {
    height: 279px;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
  }

  .u-section-4 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 19px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 593px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-1 {
    height: 484px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-2 {
    height: 484px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-3 {
    height: 484px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 391px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 282px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 282px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 282px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 282px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 511px;
}

.u-section-5 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 21px;
}

.u-section-5 .u-repeater-1 {
  min-height: 407px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 38px 0 23px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 38px 0 23px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 38px 0 23px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 38px 0 23px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 19px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-5 .u-image-1 {
    height: 236px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 236px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    height: 236px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    height: 236px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-5 .u-image-1 {
    height: 279px;
  }

  .u-section-5 .u-image-2 {
    height: 279px;
  }

  .u-section-5 .u-image-3 {
    height: 279px;
  }

  .u-section-5 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-1 {
    height: 484px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-2 {
    height: 484px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-3 {
    height: 484px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 391px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 282px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 282px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 282px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 282px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 15px;
}