.u-section-1 .u-sheet-1 {
  min-height: 171px;
}

.u-section-1 .u-image-1 {
  width: 350px;
  height: 149px;
  margin: 11px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }
}